<div id="dialog-form">
<%= form_with(model: @tweet, local: true, url: choose_new_or_edit) do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation" class="clearfix">
      <ul>
        <li>入力エラー：</li>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="dialog-input">
    <%= form.text_area :content, class: 'dialog-text' %>
  </div>
  <%= form.submit "投稿", class: 'btn' %>
<% end %>
</div>
