<div>
<div class="AppContent">
<div class="AppContainer">

<div class="content-main clearfix">
<p><%= notice %></p>

<div class="Grid"><div class="Grid-cell size1of6"></div>

<div class="Grid-cell size2of3">
<div class="Tw-container">
<ol class="items">
<% @tweets.each do |tweet| %>

<li class="item">
<div class="Tw">
<div class="content">
  <div><p class="TwTextSize"><%= tweet.content %></p></div>

  <div class="item-footer"><div class="actionList">
    <div class="action">
    <button class="actionButton btn-edit" type="button">
      <%= link_to "編集", edit_tweet_path(tweet.id) %>
    </button>
    </div>

    <div class="action">
    <button class="actionButton btn-delete" type="button">
      <%= link_to "削除", tweet_path(tweet.id), method: :delete, data:{confirm:'本当に削除していいですか？'} %>
    </button>
    </div>
  </div></div>
</div>
</div>
</li>

<% end %>
</ol>
</div>
</div>

</div>

</div>

</div>
</div>
</div>
